.left h1 {
    margin-left: 110px;
    font-family: "Cormorant Garamond", serif;
  }
  .left a {
    text-decoration: none;
    color: black;
  }
  header {
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .right {
    margin-right: 65px;
  }
  .right ul {
    display: flex;
  }
  .right li {
    list-style: none;
    margin-right: 20px;
  }
  .right a:hover {
    color: rgb(241, 218, 188);
  }
  
  .right a {
    text-decoration: none;
    color: black;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
  @media only screen and (max-width: 768px) and (min-width: 400px) {
    .hamburger-menu {
      display: flex;
    }
    .list {
    flex-direction: column;
  align-items: center;
  
  
    }
    .right{
      width: 100%;
    }
    .list li {
      margin-top: 20px;
    }
    .left h1 {
      width: 305px;
      text-align: center;
    }
  }
  
  
  .board img {
    width: 100%;
    position: absolute;
  }
  .board .text{
      position: relative;
      text-align: center;
      top: 200px;
      color: antiquewhite;
  }
  body{
      overflow-x: hidden;
  }
  
  .contact{
    margin-top: 650px;
  }
  .contact h1{
    font-family: "Cormorant Garamond", serif;
  }
  .contact p{
    color: grey;
  }
  .contact li{
    list-style: none;

 
  }
  .contact a{
    color: black;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    margin-top: 14px;
  }
  .contact a .txt{
    margin-left: 20px;
  }

  .form-group {
    margin-bottom: 20px;
}
label, input, textarea {
    display: block;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    height: 150px;
}
button {
    background-color:antiquewhite;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    
}
.name a{
    font-family: "Cormorant Garamond", serif;
}
.name p{
    color: gray;
}
.footer h3{
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
}
.footer li{
    list-style: none;
    margin-top: 10px;
    font-size: 17px;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: gray;
}
.footer{
    background-color:rgb(241, 235, 228);
    padding: 60px;
    height: 100%;
}
@media only screen and (max-width: 768px) and (min-width: 400px) {
    .footer{
        flex-direction: column;
    }
    .footer h3{
  text-align: justify;

    }

}



  
.part1{
  margin-top: 273px;
}
.part2{
  margin-top: 273px;
}

@media only screen and (max-width: 400px) {

.part1{
  position: relative;
  bottom: 400px;
}
.part2{
  position: relative;
  bottom: 400px;
}
.footer h3{
  text-align: justify;
}

}


