body { 
  
  }
 
  

.img{
  position: relative;

}
img{
  width: 100%;
}
.text{
  position: absolute;
  bottom: 400px;
  left: 550px;
  color: antiquewhite;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.loginbtn {
  background-color: rgb(194, 153, 174);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.text a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: antiquewhite;
}

.login h1{
  color:rgb(194, 153, 174);
}
a{
  text-decoration: none;
}

@media only screen and (min-width: 400px) {

  .text h1{
    position: relative;
    top: 100px;
    right: 361px;
  }
}
@media only screen and (min-width: 400px) {

  .text a{
    position: relative;
    top: 100px;
    right: 361px;
  }
}