.left h1 {
  margin-left: 110px;
  font-family: "Cormorant Garamond", serif;
}
.left a {
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.right {
  margin-right: 65px;
}
.right ul {
  display: flex;
}
.right li {
  list-style: none;
  margin-right: 20px;
}
.right a:hover {
  color: rgb(241, 218, 188);
}

.right a {
  text-decoration: none;
  color: black;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}
@media only screen and (max-width: 768px) and (min-width: 400px) {
  .hamburger-menu {
    display: flex;
  }
  .list {
  flex-direction: column;
align-items: center;


  }
  .right{
    width: 100%;
  }
  .list li {
    margin-top: 20px;
  }
  .left h1 {
    width: 305px;
    text-align: center;
  }
}

.board img {
  width: 100%;
  position: absolute;
}
.board .text{
    position: relative;
    text-align: center;
    top: 350px;
    color: antiquewhite;
}
body{
    overflow-x: hidden;
}

.designer {
    margin-top: 640px;
}
.designer .left{
margin-top: 150px;
}
.designer .left h2{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    color: brown;
}
.designer .left p{
    color: brown;

}
.designer h5{
    font-family: 'Cormorant Garamond';
}
.designer .right img{
    width: 100%;
}

.advertisment img{
    width: 100%;
    margin-top: 100px;

}
.started{
    margin-top: 100px;
}
.started img{
  width: 100%;
}
.started h2{
    font-family: 'Cormorant Garamond';
    color: brown;
    font-size: 40px;
}
 .started .right p{
    font-family: 'Cormorant Garamond';
    font-size: 20px;
    
}
.started .right{
    margin-top: 270px;
}
.started .right h4{
    color: brown;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    
}
.name a{
    font-family: "Cormorant Garamond", serif;
}
.name p{
    color: gray;
}
.footer h3{
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
}
.footer li{
    list-style: none;
    margin-top: 10px;
    font-size: 17px;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: gray;
}
.footer{
    background-color:rgb(241, 235, 228);
    padding: 60px;
    height: 100%;
}
@media only screen and (max-width: 768px) and (min-width: 400px) {
    .footer{
        flex-direction: column;
    }
}
@media only screen and (max-width: 950px) and (min-width: 400px)  {
.designer .row{

flex-direction: column-reverse;}
}
.designer .left{
  text-align: center;
  width: 100%;
}
.designer img{
  width: 100%;
}





@media only screen and (max-width: 950px) and (min-width: 310px)  {
  .started .right{
    width: 200%;
    
  }
  .started .row{
    flex-direction: column;
  }
  .started img{
    width: 150%;
  }
}

.shop h3{
  text-align: center;
  }
  .shop ul{
    align-items: center;
  }
  .adress h3{
    text-align: center;
  }

  @media only screen and (min-width: 310px) and (max-width:768px)  {
    .board .text{
      top: 120px;
    }
    .footer h3{
      display: flex;
    text-align: justify;
    }


  }
  
  