.left h1 {
    margin-left: 110px;
    font-family: "Cormorant Garamond", serif;
  }
  .left a {
    text-decoration: none;
    color: black;
  }
  header {
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .right {
    margin-right: 65px;
  }
  .right ul {
    display: flex;
  }
  .right li {
    list-style: none;
    margin-right: 20px;
  }
  .right a:hover {
    color: rgb(241, 218, 188);
  }
  
  .right a {
    text-decoration: none;
    color: black;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
  @media only screen and (max-width: 768px) and (min-width: 400px) {
    .hamburger-menu {
      display: flex;
    }
    .list {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      text-align: center;
    }
    .list li {
      margin-top: 20px;
    }
    .left h1 {
      width: 305px;
      text-align: center;
    }

  }
  

  .about{
    margin-top: 60px;
    margin-left: 30px;
  }
  .about p{
    color: gray;
  }
  .about h1{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-size: 70px;

  }

  
.earrings {
    margin-top: 100px;
  }
  .earrings h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
  }
  .earrings h1:hover{
      color: rgb(241, 218, 188);
  }
  .earrings img {
    height: 300px;
  }
  .products {
    display: inline;
  }
  
  @media only screen and (max-width: 1042px) and (min-width: 120px) {
    .products img {
      margin-top: 20px;
  
    }
    .products .image{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .image {
      margin-top: 20px;
    }
  
  }
  @media only screen and (min-width: 925px) {
    .products img {
      margin-top: 20px;
    }
  }
  .pinterest{
      width: 93%;
  }
  .earrings .text{
      text-align: center;
  }
  .earrings .text h2{
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  margin-top: 20px;
  }
  .earrings .text h2:hover{
     color: pink;
  }
  .earrings img:hover{
      transform: scale(1.1);
  }
  

  .footer{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    
}
.name a{
    font-family: "Cormorant Garamond", serif;
}
.name p{
    color: gray;
}
.footer h3{
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
}
.footer li{
    list-style: none;
    margin-top: 10px;
    font-size: 17px;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: gray;
}
.footer{
    background-color:rgb(241, 235, 228);
    padding: 60px;
    height: 100%;
}
@media only screen and (max-width: 768px) and (min-width: 400px) {
    .footer{
        flex-direction: column;
    }
    .about{
        margin-top: 350px;
    }
}


.shop h3{
  text-align: center;
  }
  .shop ul{
    align-items: center;
  }
  .adress h3{
    text-align: center;
  }
  
body{
    overflow-x:hidden;
}

.card{
  margin-top: 60px;
}


.cart-btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

#cart {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 1em 4em 0 0;
}

.cart-quantity {
  color: white;
  background-color: red;
  padding: .2em .3em;
  position: absolute;
  margin: .8em 7.5em 0 0;
  right: 0;
  border: solid 2px red;
  border-radius: 15px;
  font-weight: bolder;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 1em
}

.card {
/*   width: 15rem; */
  margin: 1em;
  position: relative;
  overflow: hidden; 
  text-align: center
}

.card:hover .add-to-cart {
  transform: translateX(0);
}

.product-image {
  margin-bottom: 1em
}

.add-to-cart {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem
}

.product-price {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
  
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(50,50,50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
  
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
/*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}

@media (max-width: 1000px){
  .cart-modal {
    width: 100vw;
  } 
  
  .product-row {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .remove-btn {
    margin: 0
  }
  
  .product-quantity {
    margin: .5em 0 .5em 0
  }
}

img{
  width: 100%;
}
.button a{
  background-color: rgb(131, 121, 126);
  border-color: rgb(131, 121, 126) ;
}
.button a:hover{
  background-color: rgb(131, 121, 126) ;
}

@media only screen and (min-width: 400px) {
  .basket{
    display: flex;
    justify-content: right;
    font-size: 25px;
    position: relative;
    bottom:20px;
  
  }
  sup{
    display: flex;
    justify-content: end;
    position: relative;
    right: 30px;

  }
  .card{
  width: 50%;
  margin: auto;
  margin-top: 30px;
  }
  
  .footer h3{
    text-align: justify;
  }
  .product-image img{
    width: 100%;
  }
  
  
  }
  
  @media only screen and (min-width: 650px) {
  .footer{
    gap: 25px;
  }
  
  
  
  }
  
  
  
  @media only screen and (max-width: 1400px)  {
    .basket{
     bottom: 0px;
    }
    .card{
      width: 100%;
    
    }
    
    }
  