.left h1 {
  margin-left: 110px;
  font-family: "Cormorant Garamond", serif;
}
.left a {
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.right {
  margin-right: 65px;
}
.right ul {
  display: flex;
}
.right li {
  list-style: none;
  margin-right: 20px;
}
.right a:hover {
  color: rgb(241, 218, 188);
}

.right a {
  text-decoration: none;
  color: black;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}
@media only screen and (max-width: 768px) and (min-width: 400px) {
  .hamburger-menu {
    display: flex;
  }
  .list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
  }
  .list li {
    margin-top: 20px;
  }
  .left h1 {
    width: 305px;
    text-align: center;
  }
  video {
    margin-top: 255px;
    width: 150%;
  }

  .overlay p {
    position: relative;
    right: 220px;
    text-align: center;
    top: 40px;
  }
}

video {
  position: relative;
  top: 0;
}
.overlay {
  position: absolute;
  left: 450px;
  z-index: 1;
  top: 400px;
  color: white;
  font-size: 40px;
}
.overlay p {
  font-family: "Cormorant Garamond", serif;
}
body {
  overflow-x: hidden;
}

.rings {
  margin-top: 100px;
}
.rings h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
}
.rings h1:hover{
    color: rgb(241, 218, 188);
}
.rings img {
  height: 300px;
}
.products {
  display: inline;
}

@media only screen and (max-width: 1042px) and (min-width: 120px) {
  .products img {
    margin-top: 20px;

  }
  .products .image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    margin-top: 20px;
  }

}
@media only screen and (min-width: 925px) {
  .products img {
    margin-top: 20px;
  }
}
.pinterest{
    width: 93%;
}
.rings .text{
    text-align: center;
}
.rings .text h2{
font-size: 20px;
font-family: "Cormorant Garamond", serif;
margin-top: 20px;
}
.rings .text h2:hover{
   color: pink;
}
.rings img:hover{
    transform: scale(1.1);
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    
}
.name a{
    font-family: "Cormorant Garamond", serif;
}
.name p{
    color: gray;
}
.footer h3{
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
}
.footer li{
    list-style: none;
    margin-top: 10px;
    font-size: 17px;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: gray;
}
.footer{
    background-color:rgb(241, 235, 228);
    padding: 60px;
    height: 100%;
}
@media only screen and (max-width: 768px) and (min-width: 400px) {
    .footer{
        flex-direction: column;
    }
}
