.left h1{
    margin-left: 40px;
    font-family: 'Cormorant Garamond', serif;
}
.left a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.right{
    margin-right: 65px;
}
.right ul{
display: flex;

}
.right li{
    list-style: none;
    margin-right:20px;
}
.right a:hover{
    color:rgb(241, 218, 188)
}

.right a{
    text-decoration: none;
    color: black;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }
    .list{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }
    .list li{
        margin-top: 20px;
    }
    .left h1{
        width: 400px;
        text-align: center;
    }



}